<div class="card-product">

    <%= link_to "Add Sportactivity", new_sportaction_path %>

</div>

<div class="card-product">

    <%= link_to "Create Employee", new_employee_path %>

</div>

<div class="card-product">

     <%= link_to "Create Sport", new_sport_path %>

</div>

<div class="card-product">

     <%= link_to "See all Sports", sports_path %>

</div>

<div class="card-product">

     <%= link_to "Ranking", ranking_path %>

</div>
